<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.0.xsd">

    <context:component-scan base-package="org.elastic"/>

    <!-- 加载配置文件 -->
    <bean id="propertiesUtil" class="org.elastic.mappings.MappingsProperties">
        <property name="locations">
            <list>
                <value>classpath:mappings.properties</value>
            </list>
        </property>
        <property name="fileEncoding" value="utf-8" />
    </bean>

    <!-- 项目启动检查索引 -->
    <bean id="initService" class="org.elastic.service.base.InitService" init-method="init"/>

</beans>